@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/helvetica-neue/HelveticaNeueThin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/helvetica-neue/HelveticaNeueLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/helvetica-neue/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/helvetica-neue/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/helvetica-neue/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/helvetica-neue/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-helvetica: "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-helvetica);
}
